.logo {
    max-width: 200px;
    padding: 0 0 0 0;
    background-color: white;
    max-height: 100px;
}

.companies {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.icon {
    border: none;
    border-radius: 30px;
    width: 950px;
    background-color: white;
    height: 125px;
    justify-content: center;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.7;
}

.collapse {
    margin-top: 5px;
    margin-bottom: 15px;
}

.content {
    justify-content: center;
}

.work {
    margin-bottom: 30px;
}