
.profile-pic {
    max-width: 260px;
    float:left;
    border-radius: 80px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.wrapper {
    display: block;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
}